<style>
    
    table {
        width:70%;
        margin: 0 auto;
        border: 1px solid black;
    }
    
    td#day{
        background-color:gray;
        text-align: center;
        font-size:28px;
    }
    
    td#topline{
        background-color: gray;
        font-size: 24px;
    }
    
    td{
        font-size: 20px;
    }
    
    .panel-title{
        color: #34FBED;
        font-size: 36px;
    }
    
</style>



<body style="background-color=#a89532;">


  <% a = Date.today %>
  <% b = Date.parse("2019-08-23") %> <!-- need to CHANGE TO 23rd BEFORE PUSHING OUT TO KWESTEES -->
  
<% if a >= b %>
<header>
    <h2>Full Itinerary</h2>
    Below is our full itinerary for KWEST Hawaii. Click a day to see the hour-by-hour details & things you need for the day!
</header>
<br>
<article>


<button class="btn btn-primary" data-toggle="collapse" style="background-color:#21A4B9;display:block;border:none;text-align:center;width:100%;font-family:'Lobster',cursive;" data-target="#day1content"><h3 class="panel-title">Day 1 - August 24 - <%= Emoji.find_by_alias("airplane").raw%>  <%=Emoji.find_by_alias("arrow_right").raw%> <%=Emoji.find_by_alias("champagne").raw%></h3></button>

<div id="day1content" class="collapse">
<h4>Hour-by-hour</h4>
    <table border="1" id="daycontent" class="table-hover">
        <tbody>
            <tr>
                <td colspan="4" id="day">Saturday</td>
            </tr>
            <tr>
                <td id="topline">Start Time</td>
                <td id="topline">End Time</td>
                <td id="topline">Activity</td>
                <td id="topline">Location</td>
            </tr>
            <tr>
                <td>3:45am</td>
                <td>4:15am</td>
                <td>Meet to catch bus</td>
                <td>Optima Horizons</td>
            </tr>
            <tr>
                <td>4:15am</td>
                <td>4:45am</td>
                <td>Travel to O'Hare</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>4:45am</td>
                <td>6:25am</td>
                <td>Check-In and Hang Out at Airport</td>
                <td>ORD</td>
            </tr>
            <tr>
                <td>6:25am</td>
                <td>10:40am</td>
                <td>Flight to SFO</td>
                <td>AA1203</td>
            </tr>
            <tr>
                <td>10:40am</td>
                <td>11:55pm</td>
                <td>Meet up with Apara, have a snack or two!</td>
                <td>SFO</td>
            </tr>
            <tr>
                <td>11:55pm</td>
                <td>2:22pm</td>
                <td>Flight to Honolulu</td>
                <td>AA743</td>
            </tr>
            <tr>
                <td>2:22pm</td>
                <td>3:30pm</td>
                <td>Travel to Waikiki Resort Hotel</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>3:30pm</td>
                <td>6:45pm</td>
                <td>Check In @ Hotel, Relax and Get Ready for Night</td>
                <td>Hotel - Waikiki Resort Hotel</td>
            </tr>
            <tr>
                <td>6:45pm</td>
                <td>7:00pm</td>
                <td>Walk to Tanaka of Tokyo East</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>7:00pm</td>
                <td>9:30pm</td>
                <td>Hibachi Dinner</td>
                <td>Tanaka of Tokyo East</td>
            </tr>
            <tr>
                <td>9:30pm</td>
                <td>10:00pm</td>
                <td>Travel to Addiction Nightclub</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>10:00pm</td>
                <td>MIDNIGHT(ish..)</td>
                <td>Party w/ Bottle Service</td>
                <td>Addiction Nightclub</td>
            </tr>
        </tbody>
    </table>

<div>

<h4>What do I need this day?</h4>
    <ul>
        <li>
            Luggage - <a href="/packinglist">see packing list here</a>
        </li>
        <li>
            Anything to be comfy on the plane
        </li>
        <li>
            Theme for the night is NEON
        </li>
    </ul>
</div>

</div>
<br>
<button class="btn btn-primary" data-toggle="collapse" style="background-color:#21A4B9;display:block;border:none;text-align:center;width:100%;font-family:'Lobster',cursive;" data-target="#day2content"><h3 class="panel-title" style="color:#34FBED;">Day 2 - August 25 - <%= Emoji.find_by_alias("ocean").raw %> <%=Emoji.find_by_alias("sunny").raw %> <%=Emoji.find_by_alias("game_die").raw%></h3></button>


<section id="day2content" class="collapse">

    <h4>Hour-by-hour</h4>
    <table border="1" id="daycontent" class="table-hover">
        <tbody>
            <tr>
                <td colspan="4" id="day">Sunday</td>
            </tr>
            <tr>
                <td id="topline">Start Time</td>
                <td id="topline">End Time</td>
                <td id="topline">Activity</td>
                <td id="topline">Location</td>
            </tr>
            <tr>
                <td>8:00am</td>
                <td>8:45am</td>
                <td>Breakfast</td>
                <td>Hotel</td>
            </tr>
            <tr>
                <td>8:45am</td>
                <td>9:00am</td>
                <td>Walk to surf lesson</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>9:00am</td>
                <td>11:00am</td>
                <td>Surf Lesson</td>
                <td>Waikiki Beach</td>
            </tr>
            <tr>
                <td>11:00am</td>
                <td>11:05am</td>
                <td>Walk to Duke's</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>11:05am</td>
                <td>3:00pm</td>
                <td>Lunch & Hanging Out at Duke's</td>
                <td>Duke's Waikiki</td>
            </tr>
            <tr>
                <td>3:00pm</td>
                <td>4:30pm</td>
                <td>Freetime (leader activity breakout)</td>
                <td>Waikiki Beach</td>
            </tr>
            <tr>
                <td>4:30pm</td>
                <td>6:00pm</td>
                <td>Return to hotel, shower, and get comfortable</td>
                <td>Hotel</td>
            </tr>
            <tr>
                <td>6:00pm</td>
                <td>12:00am</td>
                <td>Pizza & Game Night</td>
                <td>Hotel</td>
            </tr>
            
        </tbody>
    </table>

    <h4>What do I need this day?</h4>
    <ul>
        <li>
            Sunscreen!
        </li>
        <li>
            Swim suits
        </li>
        <li>
            Flip-flops or other comfortable beach shoes
        </li>
        <li>
            Coverups, gym shorts, shirts - whatever you need to be comfortable at Dukes
        </li>
        <li>
            Pizza and Game Night dress up "theme" is pajamas (tbh just wear whatever you feel comfortable in)
        </li>
    </ul>
    
</section>

<br>
<button class="btn btn-primary" data-toggle="collapse" style="background-color:#21A4B9;display:block;border:none;text-align:center;width:100%;font-family:'Lobster',cursive;" data-target="#day3content"><h3 class="panel-title" style="color:#34FBED;">Day 3 - August 26 - <%= Emoji.find_by_alias("palm_tree").raw %> <%= Emoji.find_by_alias("turtle").raw %> <%= Emoji.find_by_alias("tropical_drink").raw %></h3></button>



<section id="day3content" class="collapse">

<h4>Hour-by-hour</h4>
    <table border="1" id="daycontent" class="table-hover">
        <tbody>
            <tr>
                <td colspan="4" id="day">Monday</td>
            </tr>
            <tr>
                <td id="topline">Start Time</td>
                <td id="topline">End Time</td>
                <td id="topline">Activity</td>
                <td id="topline">Location</td>
            </tr>
            <tr>
                <td>8:45am</td>
                <td>9:30am</td>
                <td>Breakfast</td>
                <td>Hotel</td>
            </tr>
            <tr>
                <td>9:30am</td>
                <td>9:45am</td>
                <td>Walk to Waikiki Beach Marriot Bus Depot</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>9:45am</td>
                <td>11:15am</td>
                <td>Travel to Kualoa Ranch</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>11:15am</td>
                <td>12:30pm</td>
                <td>Check-in & Lunch at Kualoa Ranch</td>
                <td>Kualoa Ranch</td>
            </tr>
            <tr>
                <td>12:30pm</td>
                <td>2:30pm</td>
                <td>Jungle Expedition Tour</td>
                <td>Kualoa Ranch</td>
            </tr>
            <tr>
                <td>2:30pm</td>
                <td>4:15pm</td>
                <td>Taste of Kualoa Farm</td>
                <td>Kualoa Ranch</td>
            </tr>
            <tr>
                <td>4:15pm</td>
                <td>5:45pm</td>
                <td>Movie Site & Ranch Tour</td>
                <td>Kualoa Ranch</td>
            </tr>
            <tr>
                <td>5:45pm</td>
                <td>7:30pm</td>
                <td>Return to Hotel</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>7:30pm</td>
                <td>8:00pm</td>
                <td>Quick change for dinner</td>
                <td>Hotel</td>
            </tr>
            <tr>
                <td>8:00pm</td>
                <td>10:00pm</td>
                <td>Small Group Dinners</td>
                <td><a href="/kwestees#dinner1">See list here!</a></td>
            </tr>
            <tr>
                <td>10:00pm</td>
                <td>????</td>
                <td>Tiki Bar Crawl</td>
                <td>????</td>
            </tr>
            
        </tbody>
    </table>
    

    <h4>What do I need this day?</h4>
    <ul>
        <li>
            Sunscreen! (are you seeing a pattern here?)
        </li>
        <li>
            Comfortable shoes and clothes for a semi-active day
        </li>
        <li>
            Tiki Bar Crawl theme is Fun & Fancy Florals!
        </li>
    </ul>
    
</section>    


<br>
<button class="btn btn-primary" data-toggle="collapse" style="background-color:#21A4B9;display:block;border:none;text-align:center;width:100%;font-family:'Lobster',cursive;" data-target="#day4content"><h3 class="panel-title" style="color:#34FBED;">Day 4 - August 27 - <%= Emoji.find_by_alias("airplane").raw %> <%= Emoji.find_by_alias("tropical_fish").raw%> <%=Emoji.find_by_alias("swimmer").raw%></h3></button>



<section id="day4content" class="collapse" id="daycontent" class="table-hover">
<h4>Hour-by-hour</h4>
    <table border="1">
        <tbody>
            <tr>
                <td colspan="4" id="day">Tuesday</td>
            </tr>
            <tr>
                <td id="topline">Start Time</td>
                <td id="topline">End Time</td>
                <td id="topline">Activity</td>
                <td id="topline">Location</td>
            </tr>
            <tr>
                <td>9:00am</td>
                <td>11:00am</td>
                <td>Breakfast & Hangout Time</td>
                <td>Hotel</td>
            </tr>
            <tr>
                <td>11:00am</td>
                <td>11:30am</td>
                <td>Travel to Airport</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>11:30am</td>
                <td>1:55pm</td>
                <td>Check-in at airport and travel to Kona *Flight info here*</td>
                <td>HNL->KOA</td>
            </tr>
            <tr>
                <td>1:55pm</td>
                <td>3:00pm</td>
                <td>Travel to Royal Kona Resort</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>3:00pm</td>
                <td>6:00pm</td>
                <td>Freetime - *leaders to offer activities*</td>
                <td>Royal Kona Resort (Pool, etc)</td>
            </tr>
            <tr>
                <td>6:00pm</td>
                <td>6:30pm</td>
                <td>Travel to Keahau Bay</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>6:30pm</td>
                <td>8:00pm</td>
                <td>Manta Ray Snorkel Tour</td>
                <td>Keahau Bay</td>
            </tr>
            <tr>
                <td>8:00pm</td>
                <td>9:00pm</td>
                <td>Return to Hotel</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>9:00pm</td>
                <td>????</td>
                <td>Freetime/bars</td>
                <td>Wherevs</td>
            </tr>
        </tbody>
    </table>

    <h4>What do I need this day?</h4>
    <ul>
        <li>
            Luggage
        </li>
        <li>
            Sunscreen (most likely!)
        </li>
        <li>
            Swim stuff for the snorkel 
        </li>
    </ul>
    
</section>  

<br>

<button class="btn btn-primary" data-toggle="collapse" style="background-color:#21A4B9;display:block;border:none;text-align:center;width:100%;font-family:'Lobster',cursive;" data-target="#day5content"><h3 class="panel-title" style="color:#34FBED;">Day 5 - August 28 - <%= Emoji.find_by_alias("volcano").raw%> <%= Emoji.find_by_alias("dancers").raw%> <%= Emoji.find_by_alias("question").raw%></h3></button>



<section id="day5content" class="collapse" id="daycontent" class="table-hover">
<h4>Hour-by-hour</h4>
    <table border="1">
        <tbody>
            <tr>
                <td colspan="4" id="day">Wednesday</td>
            </tr>
            <tr>
                <td id="topline">Start Time</td>
                <td id="topline">End Time</td>
                <td id="topline">Activity</td>
                <td id="topline">Location</td>
            </tr>
            <tr>
                <td>7:00am</td>
                <td>8:00am</td>
                <td>Breakfast, pack lunches for the day</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>8:00am</td>
                <td>9:00am</td>
                <td>Travel to Volcano National Park</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>9:00am</td>
                <td>4:00pm</td>
                <td>Hike/Tour of Volcano National Park</td>
                <td>Volcano National Park</td>
            </tr>
            <tr>
                <td>4:00pm</td>
                <td>5:00pm</td>
                <td>Back to hotel to get ready for Luau/Big Reveal!</td>
                <td>Big Reveal</td>
            </tr>
            <tr>
                <td>5:00pm</td>
                <td>8:00pm</td>
                <td>LUAU</td>
                <td>Royal Kona Resort</td>
            </tr>
            <tr>
                <td>8:00pm</td>
                <td>8:30pm</td>
                <td>Travel to Chill'n (*note* do we maybe want the place hidden for KWESTEEs?)</td>
                <td>BIG REVEAL</td>
            </tr>
            <tr>
                <td>8:30pm</td>
                <td>????</td>
                <td>BIG REVEAL</td>
                <td>Chill'n</td>
            </tr>
        </tbody>
    </table>

    <h4>What do I need this day?</h4>
    <ul>
        <li>
            Sunscreen!
        </li>
        <li>
            Comfortable shoes and clothes to do a short hike and tour of the volcano park
        </li>
        <li>
            Big Reveal theme is WHITE OUT (per Kellogg tradition) - white pants, white shirts, white dresses, white socks go nutz!
        </li>
    </ul>
    
</section> 

<br>

<button class="btn btn-primary" data-toggle="collapse" style="background-color:#21A4B9;display:block;border:none;text-align:center;width:100%;font-family:'Lobster',cursive;" data-target="#day6content"><h3 class="panel-title" style="color:#34FBED;">Day 6 - August 29 - <%= Emoji.find_by_alias("dolphin").raw %> <%= Emoji.find_by_alias("beers").raw %> <%= Emoji.find_by_alias("airplane").raw%></h3></button>




<section id="day6content" class="collapse">
<h4>Hour-by-hour</h4>
    <table border="1" id="daycontent" class="table-hover">
        <tbody>
            <tr>
                <td colspan="4" id="day">Thursday</td>
            </tr>
            <tr>
                <td id="topline">Start Time</td>
                <td id="topline">End Time</td>
                <td id="topline">Activity</td>
                <td id="topline">Location</td>
            </tr>
            <tr>
                <td>7:00am</td>
                <td>7:30am</td>
                <td>Walk to Dolphin Snorkel Tour</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>7:30am</td>
                <td>12:30pm</td>
                <td>Dolphin Snorkel Tour</td>
                <td>Boat</td>
            </tr>
            <tr>
                <td>12:30pm</td>
                <td>12:45pm</td>
                <td>Walk to Kona Brewing Co</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>12:45pm</td>
                <td>3:00pm</td>
                <td>Hangout/Drinks @ Kona Brewing</td>
                <td>Kona Brewing Co</td>
            </tr>
            <tr>
                <td>3:00pm</td>
                <td>3:15pm</td>
                <td>Load up luggage and hop on shuttle</td>
                <td>Royal Kona Resort</td>
            </tr>
            <tr>
                <td>3:15pm</td>
                <td>3:45pm</td>
                <td>Travel to airport</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>3:45pm</td>
                <td>6:20pm</td>
                <td>Flight to Honolulu</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>6:20pm</td>
                <td>7:45pm</td>
                <td>Check-in at hotel, get ready for the night</td>
                <td>Hotel</td>
            </tr>
            <tr>
                <td>7:45pm</td>
                <td>8:00pm</td>
                <td>Travel to Chinatown</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>8:00pm</td>
                <td>9:30pm</td>
                <td>Small Group Dinners</td>
                <td><a href="/kwestees#dinner2">See list here!</a></td>
            </tr>
            <tr>
                <td>9:30pm</td>
                <td>????</td>
                <td>Chinatown Bar Crawl</td>
                <td>Chinatown</td>
            </tr>
        </tbody>
    </table>

    <h4>What do I need this day?</h4>
    <ul>
        <li>
            Sunscreen!
        </li>
        <li>
            Swim stuff for Dolphin Snorkel Tour
        </li>
        <li>
            Coverups, gym shorts, whatever you need to be comfortable at Kona Brewing Co after snorkeling
        </li>
        <li>
            Chinatown Bar Crawl theme is Cartoon Characters!
        </li>
    </ul>
    
</section> 

<br>

<button class="btn btn-primary" data-toggle="collapse" style="background-color:#21A4B9;display:block;border:none;text-align:center;width:100%;font-family:'Lobster',cursive;" data-target="#day7content"><h3 class="panel-title" style="color:#34FBED;">Day 7 - August 30 - <%= Emoji.find_by_alias("cry").raw %> <%= Emoji.find_by_alias("wave").raw%> <%=Emoji.find_by_alias("airplane").raw%></h3></button>



<div id="day7content" class="panel-collapse collapse">
    <div class="panel-body">
<h4>Hour-by-hour</h4>
    <table border="1" id="daycontent" class="table-hover">
        <tbody>
            <tr>
                <td colspan="4" id="day">Friday</td>
            </tr>
            <tr>
                <td id="topline">Start Time</td>
                <td id="topline">End Time</td>
                <td id="topline">Activity</td>
                <td id="topline">Location</td>
            </tr>
            <tr>
                <td>Whenever you wake up</td>
                <td>1:45pm</td>
                <td>Freetime - leaders to provide activities</td>
                <td>Hotel</td>
            </tr>
            <tr>
                <td>2:00pm</td>
                <td>2:30pm</td>
                <td>Travel to Pearl Harbor</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>2:30pm</td>
                <td>3:45pm</td>
                <td>Pearl Harbor Exhibit</td>
                <td>Pearl Harbor</td>
            </tr>
            <tr>
                <td>3:45pm</td>
                <td>7:00pm</td>
                <td>Return to Hotel for Farewell Dinner!</td>
                <td>TBD</td>
            </tr>
            <tr>
                <td>3:00pm</td>
                <td>3:15pm</td>
                <td>Load up luggage and hop on shuttle</td>
                <td>Royal Kona Resort</td>
            </tr>
            <tr>
                <td>7:00pm</td>
                <td>7:30pm</td>
                <td>Travel to airpor</td>
                <td>Transit</td>
            </tr>
            <tr>
                <td>7:30pm</td>
                <td>NEXT DAY</td>
                <td>Airport & Flight to Chicago!</td>
                <td>Airport/Flight INFO!</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="panel-footer">
    <h4>What do I need this day?</h4>
    <ul>
        <li>
            Sunscreen!
        </li>
        <li>
            Luggage all packed and ready to go! (reminder to ditch and liquids over 3oz!)
        </li>
        <li>
            Anything you need to be comfortable on the flight back! (maybe change of clothes for when you transfer in Seattle)
        </li>
        <li>
            Then go home, relax and get ready for CIM!!!!!!!!!
        </li>
    </u1>

</div>

</div>

</div>

</div> 

<% else %>

TO BE REVEALED!!!!!!!!!!!!!!


<% end %>
</article>
</body>
<script type="text/javascript">
//declare all globals to hold the links and the button elements
var dayLinks;
var dayContent;
    window.onload= function() {
        //set initial day display
        tabLinks = document.getElementById("days").getElementsByTagName("h3")
        dayContent = document.getElementById("daycontent").getElementsByTagName("section")
        //listen for clicks
    }
    
    function(){
        //open up days
    }

</script>