<style>
   th{
       color:#34FBED;
       background-color:#21A4B9;
   } 
    
</style>

<h1>BIG REVEAL GUESSES</h1>

<h2>Who is MalortMike?!</h2>

<table class="table table-hover">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "MalortMike").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>

</tbody>
</table>


<h2>Who is JammingJordan?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "JammingJordan").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>

</tbody>
</table>

<h2>Who is Humuhumunukunukuapua'a Holly?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Humuhumunukunukuapua'a Holly").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>

<% end %>

</tbody>
</table>

<h2>Who is S Shifali?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "S Shifali").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>



<h2>Who is A Apara?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "A Apara").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>

</tbody>
</table>


<h2>Who is Francisco?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Francisco").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>

</tbody>
</table>


<h2>Who is Zoe?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Zoe").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>

</tbody>
</table>


<h2>Who is Maria?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Maria").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>



<h2>Who is Sam?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Sam").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Who is Jan?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Jan").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>

</tbody>
</table>


<h2>Who is Ryan?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Ryan").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>

<h2>Who is Vini?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Vini").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Who is Yuval?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Yuval").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>



<h2>Who is Bruna?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Bruna").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Who is Eskor?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Bruna").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Who is Margo?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Margo").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Who is Jamie?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Jamie").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Who is Kelsey?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Kelsey").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Who is Nofar?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Nofar").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Who is Anik?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Anik").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Who is Apurva?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Apurva").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Who is Sanjana?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Sanjana").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Who is Kailin?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Kailin").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>


<h2>Who is Matan?!</h2>

<table class="table">
<tbody>
<tr>
    <th>Program</th>
    <th>Previous Job</th>
    <th>Previous City</th>
    <th>Undergrad</th>
    <th>Hometown</th>
    <th>Additional Info</th>
<% @guess.order(:name).where("name=?", "Matan").each do |guess| %>

</tr> 
<tr>
    <td><%= guess.program %></td>

    <td><%= guess.previous_job %></td>  
    
    <td><%= guess.previous_city %></td>
    
    <td><%= guess.undergrad %> </td>

    <td><%= guess.hometown %></td>

    <td><%= guess.add_info %></td>
</tr>
<% end %>
</tbody>
</table>