<!DOCTYPE html>
<html>
  <style>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  
  
  </style>
  <head>
    <title>KWEST Hawaii</title>
    <%= csrf_meta_tags %>
    <meta charset = "utf-8">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>

  <nav class="navbar navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">KWEST Hawaii</a>
    
    <a class="navbar-link" href="/">
      Home
    </a>
    
    
    <a class="navbar-link" href="/kwestees">
      KWESTEEs & Groups
    </a>
    
    <a class="navbar-link" href="/itinerary">
      Full Itinerary
    </a>
    
    <a class="navbar-link" href="/packinglist">
      Packing List
    </a>

  </nav>
  
  <div class="container-fluid" style="padding-top:70px">
  
  <%= yield %>
  </div>
</body>

</html>
